<div class="card animated fadeIn fast">
  <img
    class="card-img-top img-fluid"
    src="assets/img/personajes.jpeg"
    [alt]="personaje.name"
  />
  <div class="card-body">
    <h2 class="card-title">{{ personaje.name }}</h2>
    <p class="card-text">Ojos: {{ personaje.eye_color }}</p>
    <p class="card-text">Genero: {{ personaje.gender }}</p>
    <p class="card-text">Peliculas:</p>
    <button
    *ngFor="let persona of personaje.films ; let i = index"
    (click)="verPersonaje(persona)"
    type="button"
    class="btn btn-link btn-block">
   {{persona}}
  </button>
  </div>
</div>
